{% extends "base.html.twig" %}

{% block title %}Bienvenue Second !{% endblock %}

{% block body %}

<div class="container mt-4">
        <div class="jumbotron">
  <h1 class="display-4">Hello, world! Bienvenue sur ObrigadoRecipe !</h1>
  <p class="lead">ObrigadoRecipe est une application qui va te permettre de créer des recettes à base d'ingrédients créés par toi même.</p>
  <hr class="my-4">
  <p>Pour commencer, rendez-vous à la page d'inscription pour utiliser l'application.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
  </p>
</div>
</div>
        {% endblock %}

